{% extends 'main.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<section class="bg-light section-light">
    <div>
        {% if same == 0 %}
            <h1>Account Info</h1>
        {% else %}
            <h1>My Account</h1>
        {% endif %}

        <img src="/static/img/user/banner/{{user[3]}}" style="width: 100%;"> <!-- banner -- maybe make this a file input so that you can change it -->
        <br>
        <img src="/static/img/user/pfp/{{user[2]}}" style="width: 25%;"> <!-- Path to pfp -- allow ppl to change this later-->
        
        {{user[0]}} <!-- ID -->
        {{user[1]}} <!-- USERNAME -->
        {{user[4]}} <!-- First Name-->
        {{user[5]}} <!-- Last Name -->
        {{user[7]}} <!-- email -->
        {{user[9]}} <!-- Is Vendor -->
    </div>
</section>
<!--

<section class="bg-dark section-dark">
</section>
-->

{% endblock %}