{% extends 'main.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<section class="bg-light section-light">
    <div>
        {% if same == 0 %}
            <h1>Account Info</h1>
        {% else %}
            <h1>My Account</h1>
        {% endif %}

        <img src="/static/img/user/banner/{{user[3]}}" style="width: 100%;"> <!-- banner -- maybe make this a file input so that you can change it -->
        <img src="/static/img/user/pfp/{{user[2]}}" style="width: 25%;"> <!-- Path to pfp -- allow ppl to change this later-->
        
        {{user[0]}} <!-- id-->
        {{user[1]}} <!-- name -->
        {{user[4]}} <!-- First name-->
        {{user[5]}} <!-- last_name-->
        {{user[6]}} <!-- email -->
        {{user[7]}} <!-- is seller -->
        {{user[8]}} <!-- privacy -->
        {{user[9]}} <!-- is mod -->
        {{user[10]}} <!-- id admin hmmm -->

        <br><br>
        {{user}} <!--! For some reason banner {{user[3]}} and email {{user[6]}} are missing-->
    </div>
</section>
<!--

<section class="bg-dark section-dark">
</section>
-->

{% endblock %}