{% extends 'main.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<section class="bg-dark section-dark">
    <div>
        <h1 style="color: white;">About</h1>
        <p style="color: white;">We are a website that strives to be the next version of the well known Fiver, they are currently well known for being one of the biggest website for freelancers. But, we think we can do it better. This project was made over a small time span but it still is fairly close to a finished product.</p>
    </div>
</section>

<section class="bg-light section-light">
    <div>
        <h1>Different places</h1>
        <ul>
            <li>/ (This page)</li>
            <li>/create_product/ (Create your own product)</li>
            <li>/admin/ (Admin page, log in with an admin account to go here)</li>
            <li>/account/(user)/ (Go to this page to view users/edit your own account)</li>
            <li>/product/(id)/ (Go here to view specific products)</li>
            <li>/buy/ (Go here to view your cart and buy the products)</li>
            <li>/search/*/ (Go here to see a list of all products)</li>
            <li>/user/*/ (Go here to see a list of all users)</li>
            <li>/report/(id)/ (Go here to report misconduct)</li>
            <li>/contact_us/ (Go here to send us a message)</li>
        </ul>
    </div>
</section>

<section class="bg-dark section-dark">
    <div>
        <h1 style="color: white;">Hidden features</h1>
        <p style="color: white;">This website also has some less visable features for example:</p>
        <ul style="color: white;">
            <li>When searching in the top search bar try starting with product: or user: with the specific item after it to make sure you look for one or the other.</li>
            <li>Click on your pfp in the /account/ to change the picture</li>
            <li>When you add a product to the shopping cart you can see and buy it at the /buy/, this is in sandbox and should not actually take any money from your account.</li>
        </ul>
    </div>
</section>

<section class="bg-light section-light">
    <div>
        <h1>TODO</h1>
        <p>Some features are not here yet but will come soon. Some examples are:</p>
        <ul>
            <li>Messages, you can't send or receive them atm.</li>
            <li>Reviews, They can be added through the console but no reveuw page has been made.</li>
            <li>Special offers, right now they can't be added to a product, but this is on its way.</li>
        </ul>
    </div>
</section>

{% endblock %}