{% extends 'main.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<section class="bg-dark section-dark">
    <div>
        <h1 style="color: white;">Navbar</h1>
        <p style="color: white;">Some sample text where we talk about our bisness and other stuff that sounds interesting so people will make a new account</p>
    </div>
</section>

<section class="bg-light section-light">
    <div>
        <h1>TODO:</h1>
        <p>Got to add more sections later to give more info to the 'user'</p>
    </div>
</section>

{% endblock %}