{% extends 'main.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<link rel="stylesheet" href="/static/css/product.css">

<div class="container mt-5 mb-5">	
    <div class="card">	
        <div class="row g-0">	
            <div class="col-md-6 border-end">	
                <div class="d-flex flex-column justify-content-center">	
                    <div class="main_image">	
                        <img src="/static/img/products/{{product[5]}}/{{images[0][0]}}" id="main_product_image" width="350">	
                    </div>	
                    <div class="thumbnail_images">	
                        <ul id="thumbnail">	
                            <li><img onclick="changeImage(this)" src="/static/img/products/{{product[5]}}/{{images[1][0]}}" width="70"></li>	
                            <li><img onclick="changeImage(this)" src="/static/img/products/{{product[5]}}/{{images[2][0]}}" width="70"></li>	
                            <li><img onclick="changeImage(this)" src="/static/img/products/{{product[5]}}/{{images[3][0]}}" width="70"></li>	
                            <li><img onclick="changeImage(this)" src="/static/img/products/{{product[5]}}/{{images[4][0]}}" width="70"></li>	
                        </ul>	
                    </div>	
                </div>	
            </div>	
            <div class="col-md-6">	
                <div class="p-3 right-side">	
                    <div class="d-flex justify-content-between align-items-center">	
                        <h3>{{product[2]}}</h3> <!-- Title-->	
                        <!--<span class="heart"><i class='bx bx-heart'></i></span>-->
                    </div>	
                    <div class="mt-2 pr-3 content">	
                        <p>{{product[3]}}</p> <!-- Body -->	
                    </div>	
                    <h3>{{product[4]}}</h3> <!-- Price -->	
                    <div class="ratings d-flex flex-row align-items-center">	
                        <div class="d-flex flex-row">	
                            <i class='bx bxs-star' ></i>	
                            <i class='bx bxs-star' ></i>	
                            <i class='bx bxs-star' ></i>	
                            <i class='bx bxs-star' ></i>	
                            <i class='bx bx-star' ></i>	
                        </div>	<span>441 reviews</span>	
                    </div>	
                    <div class="buttons d-flex flex-row mt-5 gap-3">	
                        <form action="" method="POST" enctype="multipart/form-data">
                            <button type="submit" class="btn btn-outline-dark" name="buy" value="buy" id="buy">Buy Now</button>	
                            <button type="submit" class="btn btn-dark" name="add" value="add" id="add">Add to Basket</button>	
                        </form>
                    </div>	
                </div>	
            </div>	
        </div>	
    </div> 
</div>

{% endblock %}