{% extends 'main.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<section class="bg-light section-light-var">
    <div>
        <h1>Results for '{{search}}'</h1>

        <div class="row" style="width: auto;">
            {% for product in products %}
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{product[1]}}</h5>
                            <hr>
                            <p class="card-text">{{product[2]}} {{product[3]}} - {{product[4]}}</p>
                            <a href="/product/{{product[0]}}/" class="btn btn-primary">View Product</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}